@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';
@import 'slick';

.header {
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 60px 0;
  min-height: 100%;
  background-color: $von;
}

.menu {
  display: flex;
  align-items: center;

  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 45px;
  }

  &__link {
    @extend %rubik-400;
    color: $text;
  }

  &__link--active {
    color: $accent;
  }
}

.logo__header {
  margin-right: auto;
}

.user-nav {
  margin-left: 62px;

  &__btn {
    position: relative;
    border-radius: 5px;
    padding: 12px;
    transition: box-shadow 0.4s, border 0.4s, background-color 0.4s, color 0.4s;


    &:focus {
      box-shadow: 0 0 0 2px rgba($accent, 0.3);
      background-color: rgba($breadcrumbs, 0.1);
    }

    &:hover {
      background: $breadcrumbs;
    }

    &:active {
      background: $btnactive;
    }

    &__btn:hover .user-nav__svg {
      fill: $white;
      stroke: $white;
    }

    &__btn:focus .user-nav__svg,
    &__btn:active .user-nav__svg {
      fill: $text;
    }
  }

  &__svg {
    width: 18px;
    height: 18px;
    stroke: $white;
    stroke-width: 1.5;
    fill: $white;
    transition: stroke 0.4s, fill 0.4s;
  }

  &__num {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $accent;
    top: 3px;
    left: 22px;
    font-size: 10px;
    color: $white;
    text-align: center;
    line-height: 15px;

    &_btn:hover .user-nav__num {
      background-color: $white;
      color: $accent;
    }

    &__btn:focus .user-nav__num,
    &__btn:active .user-nav__num {
      background-color: $accent;
      color: $white;
    }
  }
}


.hero {
  padding-bottom: 60px;

  &__benefits {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__info {
    width: 450px;
  }

  &__title {
    font-size: 66px;
    line-height: 1.3;
    text-transform: uppercase;
    margin-bottom: 20px;
    @extend %rubik-500;
  }

  &__colorful {
    color: $accent;
  }

  &__text {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.5;
  }

  &__items {
    width: 288px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__btn {
    padding: 12px 32px;
    gap: 10px;
    border-radius: 6px;
    background-color: $accent;
    color: $white;
  }

  &__link {
    font-size: 20px;
    text-decoration-line: underline;
  }
}

.assortment {

  &__filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 60px;
    transition: fill 0.4s;
  }

  .mixitup-control-active {
    background-color: $accent;
    color: $white;
    fill: $white;
  }

  &__category:not(:last-child) {
    margin-right: 20px;
  }

  &__svg {
    width: 44px;
    height: 44px;
    margin-right: 10px;
    transition: fill 0.4s;
  }

  &__btn-card {
    width: 101px;
    height: 32px;
    padding: 7px 16px;
    font-size: 13px;
    justify-content: center;
  }

  &__btn-food {
    display: flex;
    align-items: center;
    padding: 13px 32px;
    border-radius: 5px;
    background: $white;
    box-shadow: 0 0 0 1px $frame;
    transition: background-color 0.3s, box-shadow 0.3s, text-shadow 0.3s;


    &:hover {
      color: $accent;
      box-shadow: 0 0 0 2px rgba($accent, 0.70);
      background-color: rgba($breadcrumbs, 0.1);
      fill: $accent;
    }

    &:focus {
      color: $title;
      box-shadow: 0 0 0 2px rgba($accent, 0.7);
      background: $white;
      fill: $title;
    }

    &:active {
      color: $title;
      box-shadow: inset 0px -5px 12px 0px rgba($accent, 0.2);
      background: $white;
      fill: $title;
    }
  }

  &__gallery {
    display: grid;
    column-gap: 30px;
    row-gap: 30px;
    margin-bottom: 60px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-between;
  }

  .product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 210px;
    height: 300px;
    font-size: 15px;
    padding: 20px 10px;
    border-radius: 10px;
    background-color: $white;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.10);
  }

  &__burger {
    width: 140px;
    height: 140px;
    background-size: 140px;
    margin-bottom: 10px;
  }

  &__text {
    text-align: center;
    margin-bottom: 10px;
    font-size: 15px;
    @extend %rubik-400;
  }

  &__price {
    margin-top: auto;
    margin-bottom: 10px;
    @extend %rubik-500;
    line-height: 1.4;
  }

  &__bottom-link {
    display: flex;
    justify-content: space-around;
  }
}


.delivery {

  &__benefits {
    display: flex;
    justify-content: space-around;
  }

  &__info {
    width: 470px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__care {
    color: $title;
    font-size: 36px;
    line-height: 1.3;
    margin-bottom: 30px;
    @extend %rubik-500;
  }

  &__text {
    color: $text;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
    @extend %rubik-400;
  }

  &__list {
    color: $title;
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 30px;
    justify-content: center;
    @extend %rubik-400;
  }

  &__item {
    position: relative;
    padding-left: 64px;
  }

  &__item:not(:last-child) {
    margin-bottom: 20px;
  }

  &__item::after {
    content: "";
    position: absolute;
    width: 34px;
    height: 34px;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 34px;
  }

  &__item--stopwatch::after {
    background-image: url('../images/icons/icon-stopwatch.svg');
  }

  &__item--delivery::after {
    background-image: url('../images/icons/icon-delivery.svg');
  }

  &__item--shop::after {
    background-image: url('../images/icons/icon-shop.svg');
  }

  &__link {
    width: 165px;
    padding: 12px 32px;
    border-radius: 6px;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.54px;
    color: $white;
    background-color: $accent;
    @extend %rubik-400;
  }
}

.restaurants {
  &__gallery {
    display: grid;
    column-gap: 30px;
    row-gap: 30px;
    padding-top: 45px;
    grid-template-columns: auto auto auto;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 370px;
    height: 419px;
    border-radius: 10px;
    background: $white;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.10);
    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: 0px 3px 15px 0px rgba(255, 104, 56, 0.50);
    }
  }

  &__food {
    width: 370px;
    height: 300px;
    margin-bottom: 15px;
  }
}

.restaurants {

  &__info {
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 23px;
  }

  &__name {
    font-size: 24px;
    margin-left: 20px;
  }

  &__choice {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }

  &__time {
    position: relative;
    padding-left: 30px;
    line-height: 1.66;
    padding-left: 32px;
  }

  &__time::after {
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px;
  }

  &__time--timer::after {
    background-image: url('../images/icons/icon-timer.svg');
  }

  &__btn {
    width: 79px;
    height: 33px;
    padding: 5px 27px;
    border-radius: 20px;
    background-color: $accent;
  }

  .restaurants__svg {
    width: 24px;
    height: 24px;
    fill: $white;
    transition: fill 0.4s, transform 0.4s;
  }

  .restaurants__btn:focus .restaurants__svg,
  .restaurants__btn:hover .restaurants__svg,
  .restaurants__btn:active .restaurants__svg {
    fill: $accent;
  }

  .restaurants__btn:hover .restaurants__svg {
    transform: translate(70%);
  }
}

.article-slider {
  &__card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
  }

  &__img-card {
    position: relative;
    border-radius: 50%;
  }

  &__comment {
    position: relative;
    padding-left: 40px;
    padding-right: 40px;

    &::before {
      content: '';
      position: absolute;
      width: 24px;
      height: 20px;
      left: 0;
      background-image: url('../images/icons/icon-quote-open.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }

    &::after {
      content: '';
      position: absolute;
      width: 24px;
      height: 20px;
      right: 0;
      top: 55%;
      background-image: url('../images/icons/icon-quote-close.svg');
      background-repeat: no-repeat;
      background-size: cover;

    }
  }

  &__cite {
    width: 570px;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
    @extend %rubik-italic;
  }

  &__author {
    display: flex;
    flex-direction: column;
    color: $accent;
    font-size: 20px;
    @extend %rubik-500;
  }

  &__note {
    color: $text;
    font-size: 14px;
    margin-top: 15px;
    @extend %rubik-400;
  }
}

.recommendations {
  &__benefits {
    display: flex;
    justify-content: space-between;
    align-items: center
  }

  &__info {
    width: 538px;
  }

  &__care {
    color: $title;
    font-size: 36px;
    @extend %rubik-500;
  }

  &__text {
    font-size: 20px;
    line-height: 1.5;
    margin-top: 45px;
    margin-bottom: 30px;
    @extend %rubik-400;
  }

  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 20px;
  }
}
