@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header {
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 60px 0;
  min-height: 100%;
  background-color: $von;
}

.menu {
  display: flex;
  align-items: center;

  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 45px;
  }

  &__link {
    @extend %rubik-400;
    color: $text;
  }

  &__link--active {
    color: $accent;
  }
}

.logo__header {
  margin-right: auto;
}

.user-nav {
  margin-left: 62px;

  &__btn {
    position: relative;
    border-radius: 5px;
    padding: 12px;
    transition: box-shadow 0.4s, border 0.4s, background-color 0.4s, color 0.4s;


    &:focus {
      box-shadow: 0 0 0 2px rgba($accent, 0.3);
      background-color: rgba($breadcrumbs, 0.1);
    }

    &:hover {
      background: $breadcrumbs;
    }

    &:active {
      background: $btnactive;
    }

    &__btn:hover .user-nav__svg {
      fill: $white;
      stroke: $white;
    }

    &__btn:focus .user-nav__svg,
    &__btn:active .user-nav__svg {
      fill: $text;
    }
  }

  &__svg {
    width: 18px;
    height: 18px;
    stroke: $white;
    stroke-width: 1.5;
    fill: $white;
    transition: stroke 0.4s, fill 0.4s;
  }

  &__num {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $accent;
    top: 3px;
    left: 22px;
    font-size: 10px;
    color: $white;
    text-align: center;
    line-height: 15px;

    &_btn:hover .user-nav__num {
      background-color: $white;
      color: $accent;
    }

    &__btn:focus .user-nav__num,
    &__btn:active .user-nav__num {
      background-color: $accent;
      color: $white;
    }
  }
}


.hero {
  padding-bottom: 60px;

  &__benefits {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__info {
    width: 450px;
  }

  &__title {
    font-size: 66px;
    line-height: 1.3;
    text-transform: uppercase;
    margin-bottom: 20px;
    @extend %rubik-500;
  }

  &__colorful {
    color: $accent;
  }

  &__text {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.5;
  }

  &__items {
    width: 288px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__btn {
    padding: 12px 32px;
    gap: 10px;
    border-radius: 6px;
    background-color: $accent;
    color: $white;
  }

  &__link {
    font-size: 20px;
    text-decoration-line: underline;
  }
}

.assortment {

  &__filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 60px;
    transition: fill 0.4s;
  }

  .mixitup-control-active {
    background-color: $accent;
    color: $white;
    fill: $white;
  }

  &__category:not(:last-child) {
    margin-right: 20px;
  }

  &__svg {
    width: 44px;
    height: 44px;
    margin-right: 10px;
    transition: fill 0.4s;
  }

  &__btn-card {
    width: 101px;
    height: 32px;
    padding: 7px 16px;
    font-size: 13px;
    justify-content: center;
  }

  &__btn-food {
    display: flex;
    align-items: center;
    padding: 13px 32px;
    border-radius: 5px;
    background: $white;
    box-shadow: 0 0 0 1px $frame;
    transition: background-color 0.3s, box-shadow 0.3s, text-shadow 0.3s;

    
    &:hover {
      color: $accent;
      box-shadow: 0 0 0 2px rgba($accent, 0.70);
      background-color: rgba($breadcrumbs, 0.1);
      fill: $accent;
    }
    
    &:focus {
      color: $title;
      box-shadow: 0 0 0 2px rgba($accent, 0.7);
      background: $white;
      fill: $title;
    }

    &:active {
      color: $title;
      box-shadow: inset 0px -5px 12px 0px rgba($accent, 0.2);
      background: $white;
      fill: $title;
    }
  }

  &__gallery {
    display: grid;
    column-gap: 30px;
    row-gap: 30px;
    margin-bottom: 60px;
    // grid-template-columns: auto auto auto auto auto;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-between;
  }

  &-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 210px;
    height: 300px;
    font-size: 15px;
    padding: 20px 10px;
    border-radius: 10px;
    background-color: $white;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.10);
  }

  &__burger {
    width: 140px;
    height: 140px;
    background-size: 140px;
    margin-bottom: 10px;
  }

  &__text {
    text-align: center;
    margin-bottom: 10px;
    font-size: 15px;
    @extend %rubik-400;
  }

  &__price {
    margin-top: auto;
    margin-bottom: 10px;
    @extend %rubik-500;
    line-height: 1.4;
  }

  &__bottom-link {
    display: flex;
    justify-content: space-around;
  }
}