.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 0;

  @include mq(tablet) {
    padding: 20px 0;
  }

  @include mq(phone) {
    padding: 14px 0;
  }

  &__inner {
    display: flex;
    align-items: center;
  }

  &__list {
    display: flex;
    margin-right: 52px;

    @include mq(tablet) {
      display: none;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 45px;
    }
  }

  &__link {
    &--active {
      color: $orange-900;
    }
  }
}