<section class="application">
  <div class="container">
    <div class="application__inner">
      <div class="application__info">
        <h2 class="title">Скачайте мобильное приложение</h2>
        <div class="application__text">
          <p>
            Рестораны, которые вы любите - в ваших руках. Устанавливайте приложение и заказывайте еду в любом удобном
            месте.
          </p>
        </div>
        <div class="application__box">
          <a class="application__link application__link--apps" href="#"
            style="background-image: url('images/appendices/storeapp.svg');">
            <span class="sr-only">Скачать приложение через App Store</span>
          </a>
          <a class="application__link application__link--ggplay" href="#"
            style="background-image: url('images/appendices/googlep.svg');">
            <span class="sr-only">Скачать приложение через Google Play</span>
          </a>
        </div>
      </div>
      <div class="application__img" style="background-image: url('images/appendices/app.jpg');">
        <span class="sr-only">красиво накрытый стол, в правой руке телефон с изображением приложения simple
          food</span>
      </div>
    </div>
  </div>
</section>