<section class="comments">
  <div class="container">
    <h2 class="title">Отзывы клиентов</h2>
    <ul class="comments__slider comments__slider--flex">
      <li class="comments__slider-item">
        <div class="comments__box">
          <div class="comments__img-inner">
            <img class="comments__img" src="images/feedback/feedback.jpg" alt="Фото автора коментария">
          </div>
          <figure class="comments__quote">
            <blockquote class="comments__text">
              <p>
                SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и
                приложение. Их доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на
                доставку - однозначно рекомендую!
              </p>
            </blockquote>
            <cite class="comments__author">
              <span class="comments__name">Дарья</span>
            </cite>
            <figcaption class="comments__author-status">Ценитель вкусной еды</figcaption>
          </figure>
        </div>
      </li>
      <li class="comments__slider-item">
        <div class="comments__box">
          <div class="comments__img-inner">
            <img class="comments__img" src="images/feedback/feedback.jpg" alt="Фото автора коментария">
          </div>
          <figure class="comments__quote">
            <blockquote class="comments__text">
              <p>
                SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и
                приложение. Их доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на
                доставку - однозначно рекомендую!
              </p>
            </blockquote>
            <cite class="comments__author">
              <span class="comments__name">Дарья</span>
            </cite>
            <figcaption class="comments__author-status">Ценитель вкусной еды</figcaption>
          </figure>
        </div>
      </li>
      <li class="comments__slider-item">
        <div class="comments__box">
          <div class="comments__img-inner">
            <img class="comments__img" src="images/feedback/feedback.jpg" alt="Фото автора коментария">
          </div>
          <figure class="comments__quote">
            <blockquote class="comments__text">
              <p>
                SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и
                приложение. Их доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на
                доставку - однозначно рекомендую!
              </p>
            </blockquote>
            <cite class="comments__author">
              <span class="comments__name">Дарья</span>
            </cite>
            <figcaption class="comments__author-status">Ценитель вкусной еды</figcaption>
          </figure>
        </div>
      </li>
      <li class="comments__slider-item">
        <div class="comments__box">
          <div class="comments__img-inner">
            <img class="comments__img" src="images/feedback/feedback.jpg" alt="Фото автора коментария">
          </div>
          <figure class="comments__quote">
            <blockquote class="comments__text">
              <p>
                SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и
                приложение. Их доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на
                доставку - однозначно рекомендую!
              </p>
            </blockquote>
            <cite class="comments__author">
              <span class="comments__name">Дарья</span>
            </cite>
            <figcaption class="comments__author-status">Ценитель вкусной еды</figcaption>
          </figure>
        </div>
      </li>
    </ul>
  </div>
</section>