<section class="discount">
  <div class="container">
    <h2 class="title">Акции и скидки</h2>
    <ul class="discount__list">
      <li class="discount__item">
        <article class="card-rest">
          <h3 class="sr-only">Ресторан Pizza Runcho</h3>
          <a class="card-rest__img-link" href="#">
            <img class="card-rest__img" src="images/restaurants/pizzaruncho.jpg" alt="ресторан">
          </a>
          <div class="card-rest__info card-rest__info--visible">
            <a class="card-rest__name-link" href="#">
              <span class="card-rest__name">Pizza Runcho</span>
            </a>
            <div class="card-rest__box">
              <div class="card-rest__time-inner">
                <time class="card-rest__time">11:00</time>
                <span class="card-rest__symbol">-</span>
                <time class="card-rest__time-second">22:00</time>
              </div>
              <a class="card-rest__link animation-btn" href="#">
                <svg class="icons-sprite">
                  <use xlink:href="images/sprite.svg#arrow-small-right"></use>
                </svg>
                <span class="sr-only">сылка на Pizza Runcho</span>
              </a>
            </div>
          </div>
          <a class="card-rest__text card-rest__text--visible" href="#">
            <p>Скидка 50% на вторую пиццу</p>
          </a>
        </article>
      </li>
      <li class="discount__item">
        <article class="card-rest">
          <h3 class="sr-only">Ресторан KFC</h3>
          <a class="card-rest__img-link" href="#">
            <img class="card-rest__img" src="images/restaurants/kfc.jpg" alt="ресторан">
          </a>
          <div class="card-rest__info card-rest__info--visible">
            <a class="card-rest__name-link" href="#">
              <span class="card-rest__name">KFC</span>
            </a>
            <div class="card-rest__box">
              <div class="card-rest__time-inner">
                <time class="card-rest__time">11:00</time>
                <span class="card-rest__symbol">-</span>
                <time class="card-rest__time-second">22:00</time>
              </div>
              <a class="card-rest__link animation-btn" href="#">
                <svg class="icons-sprite">
                  <use xlink:href="images/sprite.svg#arrow-small-right"></use>
                </svg>
                <span class="sr-only">сылка на KFC</span>
              </a>
            </div>
          </div>
          <a class="card-rest__text card-rest__text--visible" href="#">
            <p>Картошечка из KFC даром при заказе бургера</p>
          </a>
        </article>
      </li>
      <li class="discount__item">
        <article class="card-rest">
          <h3 class="sr-only">Ресторан Star Burgers</h3>
          <a class="card-rest__img-link" href="#">
            <img class="card-rest__img" src="images/restaurants/starburgers.jpg" alt="ресторан">
          </a>
          <div class="card-rest__info card-rest__info--visible">
            <a class="card-rest__name-link" href="#">
              <span class="card-rest__name">Star Burgers</span>
            </a>
            <div class="card-rest__box">
              <div class="card-rest__time-inner">
                <time class="card-rest__time">11:00</time>
                <span class="card-rest__symbol">-</span>
                <time class="card-rest__time-second">22:00</time>
              </div>
              <a class="card-rest__link animation-btn" href="#">
                <svg class="icons-sprite">
                  <use xlink:href="images/sprite.svg#arrow-small-right"></use>
                </svg>
                <span class="sr-only">сылка на Star Burgers</span>
              </a>
            </div>
          </div>
          <a class="card-rest__text card-rest__text--visible" href="#">
            <p>Чёрные бургеры на чёрный день</p>
          </a>
        </article>
      </li>
    </ul>
  </div>
</section>