<header class="header">
    <div class="container">
      <nav class="nav">
        <a class="logo" href="#">
          <img src="images/logo/simplefood.svg" width=" 200" height="39" alt="логотип">
        </a>
        <div class="nav__inner">
          <ul class="nav__list">
            <li class="nav__item">
              <a class="nav__link nav__link--active animation-link" href="index.html">
                Главная
              </a>
            </li>
            <li class="nav__item">
              <a class="nav__link animation-link" href="catalog-page.html">
                Блюда
              </a>
            </li>
            <li class="nav__item">
              <a class="nav__link animation-link" href="product-page.html">
                Контакты
              </a>
            </li>
          </ul>
          <ul class="basket">
            <li class="basket__icon">
              <button class="basket__btn animation-btn" type="button">
                <svg class="icons-sprite">
                  <use xlink:href="images/sprite.svg#icon-search-btn"></use>
                </svg>
                <span class="sr-only">Поиск</span>
              </button>
            </li>
            <li class="basket__icon">
              <button class="basket__btn animation-btn" type="button">
                <svg class="icons-sprite">
                  <use xlink:href="images/sprite.svg#icon-cart-btn"></use>
                </svg>
                <span class="sr-only">Корзина</span>
                <span class="basket__num">4</span>
              </button>
            </li>
          </ul>
          <button class="burger" type="button">
            <span class="burger__line"></span>
            <span class="sr-only">Открить меню</span>
          </button>
        </div>
        <div class="burger-nav">
          <div class="burger-nav__inner">
            <div class="burger-nav__box">
              <a class="logo burger__logo" href="#">
                <img src="images/logo/simplefood.svg"" width=" 200" height="39" alt="логотип">
              </a>
              <button class="burger" type="button">
                <span class="burger__line burger__line--active"></span>
                <span class="sr-only">Открить меню</span>
              </button>
            </div>
            <ul class="nav__list burger-list">
              <li class="nav__item">
                <a class="nav__link nav__link--active animation-link" href="index.html">
                  Главная
                </a>
              </li>
              <li class="nav__item">
                <a class="nav__link animation-link" href="catalog-page.html">
                  Блюда
                </a>
              </li>
              <li class="nav__item">
                <a class="nav__link animation-link" href="product-page.html">
                  Контакты
                </a>
              </li>
            </ul>
            <address class="address">
              <ul class="address__list burger-address__list">
                <li class="address__item  address__item--geo">
                  <a class="address__link animation-link" href="#">
                    ул. Ленина, 1
                  </a>
                </li>
                <li class="address__item address__item--phone">
                    <a class="address__link animation-link" href="tel:+73832022222">
                      +7 (383) 202-22-22
                    </a>
                </li>
                <li class="address__item address__item--email">
                  <a class="address__link animation-link" href="mailto:support@sfood.com">
                    support@sfood.com
                  </a>
                </li>
              </ul>
              <ul class="social-contact">
                <li class="social-contact__item">
                  <a class="social-contact__link animation-btn" href="#" target="_blank">
                    <svg class="icons-sprite">
                      <use xlink:href="images/sprite.svg#icon-facebook"></use>
                    </svg>
                    <span class="sr-only">Мы в фейсбук</span>
                  </a>
                </li>
                <li class="social-contact__item">
                  <a class="social-contact__link animation-btn" href="#" target="_blank">
                    <svg class="icons-sprite">
                      <use xlink:href="images/sprite.svg#icon-twitter"></use>
                    </svg>
                    <span class="sr-only">Нам можна написать в твитер</span>
                  </a>
                </li>
                <li class="social-contact__item">
                  <a class="social-contact__link animation-btn" href="#" target="_blank">
                    <svg class="icons-sprite">
                      <use xlink:href="images/sprite.svg#icon-instagram"></use>
                    </svg>
                    <span class="sr-only">Обратиться к нам в инстаграм</span>
                  </a>
                </li>
              </ul>
            </address>
          </div>
        </div>
      </nav>
    </div>
  </header>